.SearchPhoto {
  margin-bottom: 20px;
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: 1px 1px 2px rgba(128, 128, 128, 0.35);
}

.SearchPhoto a {
  color: #eee;
  text-decoration: none;
}

.SearchPhoto a:hover {
  color: #fff;
}

.SearchPhoto img {
  display: block;
  overflow: hidden;
  object-fit: cover;
  width: 100%;
}

.SearchPhoto:hover .Photo-Layer {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  cursor: zoom-in;
}

.SearchPhoto .Photo-Info {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.2s;
}

.SearchPhoto .Photo-Info .Top-Icon {
  z-index: 1;
  display: flex;
  justify-content: flex-end;
}

.SearchPhoto .Photo-Info .Top-Icon p {
  padding-right: 25px;
  padding-top: 10px;
  font-size: 20px;
  color: #fff;
}

.SearchPhoto .Photo-Info .User {
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px 5px 10px;
}

.SearchPhoto .Photo-Info .User .User-Info {
  display: flex;
  align-items: center;
}

.SearchPhoto .Photo-Info .User .Profile {
  width: 40px;
  border-radius: 50%;
  margin-right: 16px;
}

.SearchPhoto .Photo-Info .User .Name {
  padding-top: 10px;
}

.SearchPhoto:hover .Photo-Info {
  opacity: 1;
}
